name: Tasks Workflow

on:
  #push:
  #  branches:
  #    - main
  #  paths:
  #    - 'assets/md_files/**'
  #    - 'assets/blog/**'
  #    - '.github/workflows/**'
  #    - 'README.md'
  #    - 'md_to_html_parser.py'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  set:
    name: Build HTML files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'new'
  deploy:
    name: Deploy to GitHub Pages
    needs: set
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
